@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.menu span, .menu input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.menu {
  position: relative;
  margin-right: auto;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.menu a {
  color: rgba(255, 255, 255, 0.399);
}
.menu a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.menu input {
  width: 40px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.menu input:checked ~ span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.menu input:checked ~ span:nth-child(3) {
  opacity: 0;
}
.menu input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  margin-top: 12px;
}
.menu input:checked ~ ul {
  left: -150px;
}
.menu span {
  width: 38px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.menu .menu-burger {
  width: 550px;
  min-height: 1030px;
  position: absolute;
  list-style: none;
  padding: 150px 0 30px 50px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  left: 400px;
  background-color: #191A1E;
  top: -36px;
}
@media (max-width: 1300px) {
  .menu .menu-burger {
    _left: 1000px;
  }
}
.menu .menu-burger ul a {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu li {
  padding: 15px 0;
}
.menu .btnLink {
  margin-top: 150px;
}
.menu .btnLink button {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 30px;
  background: #074d88;
  background: -webkit-gradient(linear, left top, right top, from(#074d88), to(#61b3c9));
  background: linear-gradient(90deg, #074d88 0%, #61b3c9 100%);
}
.menu .btnLink button span {
  _background-color: transparent;
  height: 0;
  margin-top: -10px;
}
.menu .btnLink button:hover {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu .btnLink button:hover span {
  margin-right: -10px;
}
.menu .iconsLink {
  margin-top: 100px;
}
.menu .iconsLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.menu .iconsLink li {
  width: 35px;
  height: 35px;
  background-color: #fff;
  margin: 0 10px;
  padding: 2px;
  border-radius: 10px;
}
.menu .iconsLink li img {
  width: 25px;
  height: 25px;
  margin-top: 3px;
  margin-left: 3px;
}
.menu .iconsLink li img:hover {
  _background-color: rgba(255, 255, 255, 0.5);
  width: 29px;
  height: 29px;
  margin-top: 1px;
  margin-left: 1px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  _border: 2px solid #61b3c9;
}

#row5 .row5Right, #row5 .row5Left, #row1 .rowRight, #row1 .rowLeft {
  width: 50%;
  height: 100vh;
  _border: 1px solid #000;
}

#row2 .row2Right ul li, #row1 .rowRight .textRight ul li {
  width: 15px;
  height: 15px;
  border: 1px solid #191A1E;
  background-color: #191A1E;
  border-radius: 50%;
  margin-bottom: 30px;
}
#row2 .row2Right ul .activ, #row1 .rowRight .textRight ul .activ {
  background-color: transparent !important;
}

#row1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F1F1;
}
@media (max-width: 960px) {
  #row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden scroll;
  }
}
#row1 .rowLeft {
  background: url(./../img/desctop01.jpeg) no-repeat;
  background-size: cover;
  background-position: top;
}
@media (max-width: 960px) {
  #row1 .rowLeft {
    display: none;
  }
}
#row1 .rowRight {
  padding: 100px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 960px) {
  #row1 .rowRight {
    padding: 50px 45px;
    width: 100%;
  }
}
#row1 .rowRight .textLeft {
  width: 65%;
}
@media (max-width: 960px) {
  #row1 .rowRight .textLeft {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
  }
}
#row1 .rowRight .textLeft p {
  margin: 40px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 960px) {
  #row1 .rowRight .textLeft p {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  #row1 .rowRight .textLeft p {
    width: 100%;
    _border: 1px solid #000;
  }
}
@media (max-width: 450px) {
  #row1 .rowRight .textLeft p {
    margin: 20px 0;
  }
}
#row1 .rowRight .textRight {
  width: 35%;
  padding-left: 150px;
  padding-top: 80px;
}
@media (max-width: 960px) {
  #row1 .rowRight .textRight {
    display: none;
  }
}
#row1 .arrowUp {
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 100px;
}
#row1 .arrowUp .to-top {
  color: #000;
  padding-top: 1.7em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#row1 .arrowUp .to-top:before {
  content: "▲";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em #000;
  border-radius: 10em;
  width: 27px;
  height: 27px;
  line-height: 18px;
  padding-left: 1px;
  border-color: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
#row1 .arrowUp .to-top:hover {
  color: rgba(0, 0, 0, 0.445);
  border-color: rgba(0, 0, 0, 0.445);
}
#row1 .arrowUp .to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#row5 .row5Right, #row5 .row5Left, #row1 .rowLeft, #row1 .rowRight {
  width: 50%;
  height: 100vh;
  _border: 1px solid #000;
}

#row2 .row2Right ul li, #row1 .rowRight .textRight ul li {
  width: 15px;
  height: 15px;
  border: 1px solid #191A1E;
  background-color: #191A1E;
  border-radius: 50%;
  margin-bottom: 30px;
}
#row2 .row2Right ul .activ, #row1 .rowRight .textRight ul .activ {
  background-color: transparent !important;
}

#row1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F1F1;
}
@media (max-width: 960px) {
  #row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden scroll;
  }
}
#row1 .rowLeft {
  background: url(./../img/desctop01.jpeg) no-repeat;
  background-size: cover;
  background-position: top;
}
@media (max-width: 960px) {
  #row1 .rowLeft {
    display: none;
  }
}
#row1 .rowRight {
  padding: 100px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 960px) {
  #row1 .rowRight {
    padding: 50px 45px;
    width: 100%;
  }
}
#row1 .rowRight .textLeft {
  width: 65%;
}
@media (max-width: 960px) {
  #row1 .rowRight .textLeft {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
  }
}
#row1 .rowRight .textLeft p {
  margin: 40px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 960px) {
  #row1 .rowRight .textLeft p {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  #row1 .rowRight .textLeft p {
    width: 100%;
    _border: 1px solid #000;
  }
}
@media (max-width: 450px) {
  #row1 .rowRight .textLeft p {
    margin: 20px 0;
  }
}
#row1 .rowRight .textRight {
  width: 35%;
  padding-left: 150px;
  padding-top: 80px;
}
@media (max-width: 960px) {
  #row1 .rowRight .textRight {
    display: none;
  }
}
#row1 .arrowUp {
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 100px;
}
#row1 .arrowUp .to-top {
  color: #000;
  padding-top: 1.7em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#row1 .arrowUp .to-top:before {
  content: "▲";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em #000;
  border-radius: 10em;
  width: 27px;
  height: 27px;
  line-height: 18px;
  padding-left: 1px;
  border-color: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
#row1 .arrowUp .to-top:hover {
  color: rgba(0, 0, 0, 0.445);
  border-color: rgba(0, 0, 0, 0.445);
}
#row1 .arrowUp .to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#row2 {
  width: 100%;
  height: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  _-webkit-box-align: center;
  _    -ms-flex-align: center;
  _        align-items: center;
}
@media (max-width: 960px) {
  #row2 {
    height: 700px;
  }
}
#row2 .row2Left {
  width: 100%;
  background: url(./../img/portfolio.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 960px) {
  #row2 .row2Left {
    background-position: bottom;
  }
}
#row2 .row2Left .btnLink {
  margin: 200px 0 0 65%;
}
#row2 .row2Left .btnLink button:hover {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#row2 .row2Left .btnLink button:hover span {
  margin-left: 10px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#row2 .row2Left .btnLink button span {
  padding-left: 30px;
}
@media (max-width: 960px) {
  #row2 .row2Left .btnLink {
    margin: 70px 0 0 3%;
  }
}
#row2 .row2Right {
  width: 20%;
  padding: 300px 0 0 80px;
}
@media (max-width: 960px) {
  #row2 .row2Right {
    display: none;
  }
}
#row2 .arrowUp {
  cursor: pointer;
  margin-right: 110px;
  margin-bottom: 120px;
}
@media (max-width: 960px) {
  #row2 .arrowUp {
    margin-right: 3%;
    margin-bottom: 3%;
  }
}
#row2 .arrowUp .to-top {
  color: #000;
  padding-top: 1.7em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#row2 .arrowUp .to-top:before {
  content: "▲";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em #000;
  border-radius: 10em;
  width: 27px;
  height: 27px;
  line-height: 18px;
  padding-left: 1px;
  border-color: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
#row2 .arrowUp .to-top:hover {
  color: rgba(0, 0, 0, 0.445);
  border-color: rgba(0, 0, 0, 0.445);
}
#row2 .arrowUp .to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#row3 {
  width: 100%;
  height: 100vh;
  background: #1A1F25;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1300px) {
  #row3 {
    height: auto;
    padding: 30px 0;
  }
}
#row3 .box-block {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}
#row3 .box-block .box-item {
  width: 220px;
  height: 200px;
  border: 1px solid rgba(238, 238, 238, 0.301);
  padding: 20px;
}
@media (max-width: 720px) {
  #row3 .box-block .box-item {
    width: 150px;
  }
}
#row3 .box-block .box-item img {
  width: 40px;
  margin: 10px;
}
@media (max-width: 720px) {
  #row3 .box-block .box-item img {
    width: 25px;
  }
}
#row3 .box-block .box-item p {
  font-size: 12px;
  padding: 20px;
  line-height: 25px;
}
@media (max-width: 720px) {
  #row3 .box-block .box-item p {
    font-size: 10px;
  }
}
#row3 .box-block .box-item:hover {
  background-color: #8d8e9173;
  cursor: pointer;
}
#row3 .arrowUp {
  cursor: pointer;
  margin-right: 110px;
  margin-bottom: 120px;
}
@media (max-width: 960px) {
  #row3 .arrowUp {
    margin-right: 20px;
  }
}
#row3 .arrowUp .to-top {
  color: #fff;
  padding-top: 1.7em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#row3 .arrowUp .to-top:before {
  content: "▲";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em #fff;
  border-radius: 10em;
  width: 27px;
  height: 27px;
  line-height: 18px;
  padding-left: 1px;
  border-color: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
#row3 .arrowUp .to-top:hover {
  color: rgba(248, 247, 247, 0.705);
  border-color: rgba(248, 247, 247, 0.705);
}
#row3 .arrowUp .to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#row4 {
  width: 100%;
  height: 100vh;
  background: url(./../img/wall.jpeg) no-repeat;
  background-size: cover;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;

}
@media (max-width: 1300px) {
  #row4 {
    height: auto;
    padding: 50px 0;
  }
}
#row4 .row4Content {
  width: 90%;
  margin: 0 auto;
  padding: 20% 0 20% 10%;
}
@media (max-width: 720px) {
  #row4 .row4Content h2 {
    margin-top: 120px;
  }
}
#row4 .row4Content .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}
#row4 .row4Content .block .box-item {
  width: 40%;
  height: 100%;
  _border: 1px solid rgba(61, 61, 61, 0.301);
  margin-right: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 10px 30px 0;
}
#row4 .row4Content .block .box-item img {
  width: 70px;
  height: 70px;
}
@media (max-width: 1300px) {
  #row4 .row4Content .block .box-item img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 960px) {
  #row4 .row4Content .block .box-item img {
    width: 50px;
    height: 50px;
  }
}
#row4 .row4Content .block .box-item p {
  padding: 5px 15px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 1300px) {
  #row4 .row4Content .block .box-item p {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  #row4 .row4Content .block .box-item p {
    font-size: 12px;
  }
}
@media (max-width: 960px) {
  #row4 .row4Content .block .box-item {
    width: 100%;
  }
}
@media (max-width: 960px) {
  #row4 .row4Content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#row4 .arrowUp {
  cursor: pointer;
  margin-right: 110px;
  margin-bottom: 120px;
}
@media (max-width: 960px) {
  #row4 .arrowUp {
    margin-right: 20px;
  }
}
#row4 .arrowUp .to-top {
  color: #000;
  padding-top: 1.7em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#row4 .arrowUp .to-top:before {
  content: "▲";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em #000;
  border-radius: 10em;
  width: 27px;
  height: 27px;
  line-height: 18px;
  padding-left: 1px;
  border-color: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
#row4 .arrowUp .to-top:hover {
  color: rgba(0, 0, 0, 0.445);
  border-color: rgba(0, 0, 0, 0.445);
}
#row4 .arrowUp .to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#row5 .row5Left button {
  margin-top: 50px;
  width: 230px;
  height: 45px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 13px;
  text-align: center;
}

#row5 {
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  
}
@media (max-width: 960px) {
  #row5 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#row5 .row5Left {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(./../img/touwns.jpeg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../img/touwns.jpeg) no-repeat;
  background-size: cover;
}
@media (max-width: 960px) {
  #row5 .row5Left {
    width: 100%;
  }
}
#row5 .row5Left h2 {
  padding-top: 100px;
}
#row5 .row5Left #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin: 15px auto;
  color: rgba(255, 255, 255, 0.7);
}
#row5 .row5Left #form label {
  padding: 10px 0;
  text-align: left;
}
#row5 .row5Left #form input {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  height: 35px;
}
#row5 .row5Left #form textarea {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
#row5 .row5Left button {
  color: #fff;
  margin-left: -120px;
}
#row5 .row5Left button span {
  margin-left: 20px;
}
#row5 .row5Left button:hover {
  background: rgba(255, 255, 255, 0.356);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#row5 .row5Left button:hover span {
  margin-left: 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#row5 .row5Right {
  text-align: center;
  _border: 1px solid #f3f0f0;
  height: 100vh;
}
@media (max-width: 960px) {
  #row5 .row5Right {
    width: 100%;
  }
}
#row5 .row5Right h2 {
  padding-top: 100px;
}
@media (max-width: 960px) {
  #row5 .row5Right h2 {
    padding-top: 10px;
  }
}
#row5 .row5Right .appBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
@media (max-width: 960px) {
  #row5 .row5Right .appBox {
    margin-top: 50px;
  }
}
@media (max-width: 720px) {
  #row5 .row5Right .appBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}
#row5 .row5Right .rectangle {
  position: relative;
  width: 200px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin: 100px auto;
  text-align: left;
}
@media (max-width: 960px) {
  #row5 .row5Right .rectangle {
    margin: 20px auto;
  }
}
#row5 .row5Right .rectangle h4 {
  margin-top: 70px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}
#row5 .row5Right .rectangle p {
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}
#row5 .row5Right .rectangle small {
  display: block;
  padding: 30px 20px 5px 20px;
  text-decoration: line-through;
}
#row5 .row5Right .rectangle span {
  display: block;
  padding: 0 0 0 20px;
  font-size: 24px;
}
#row5 .row5Right .rectangle .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  top: -50px;
  left: 50px;
  background: #000;
}
#row5 .row5Right .color1 {
  background: #074d88;
  background: -webkit-gradient(linear, left top, right top, from(#074d88), to(#61b3c9));
  background: linear-gradient(90deg, #074d88 0%, #61b3c9 100%);
  border: 0;
}
@media (max-width: 1300px) {
  #row5 .row5Right {
    height: auto;
  }
}
#row5 .arrowUp {
  cursor: pointer;
  margin-right: 110px;
  margin-bottom: 120px;
}
@media (max-width: 960px) {
  #row5 .arrowUp {
    margin-right: 10px;
    margin-bottom: 50px;
  }
}
#row5 .arrowUp .to-top {
  color: #fff;
  padding-top: 1.7em;
  display: inline-block;
  /* or block */
  position: relative;
  border-color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#row5 .arrowUp .to-top:before {
  content: "▲";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em #fff;
  border-radius: 10em;
  width: 27px;
  height: 27px;
  line-height: 18px;
  padding-left: 1px;
  border-color: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
#row5 .arrowUp .to-top:hover {
  color: rgba(248, 247, 247, 0.705);
  border-color: rgba(248, 247, 247, 0.705);
}
#row5 .arrowUp .to-top:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
@media (max-width: 1300px) {
  #row5 .appBox .rectangle {
    width: 150px;
  }
  #row5 .appBox .rectangle h4 {
    font-size: 16px;
  }
  #row5 .appBox .rectangle p {
    font-size: 11px;
  }
  #row5 .appBox .rectangle small {
    font-size: 9px;
  }
  #row5 .appBox .rectangle span {
    font-size: 16px;
  }
  #row5 .appBox .rectangle .circle {
    width: 75px;
    height: 75px;
    top: -40px;
    left: 35px;
  }
}

.menu input, .menu span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.menu {
  position: relative;
  margin-right: auto;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.menu a {
  color: rgba(255, 255, 255, 0.399);
}
.menu a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.menu input {
  width: 40px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.menu input:checked ~ span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.menu input:checked ~ span:nth-child(3) {
  opacity: 0;
}
.menu input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  margin-top: 12px;
}
.menu input:checked ~ ul {
  left: -150px;
}
.menu span {
  width: 38px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.menu .menu-burger {
  width: 550px;
  min-height: 1030px;
  position: absolute;
  list-style: none;
  padding: 150px 0 30px 50px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  left: 400px;
  background-color: #191A1E;
  top: -36px;
}
@media (max-width: 1300px) {
  .menu .menu-burger {
    _left: 1000px;
  }
}
.menu .menu-burger ul a {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu li {
  padding: 15px 0;
}
.menu .btnLink {
  margin-top: 150px;
}
.menu .btnLink button {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 30px;
  background: #074d88;
  background: -webkit-gradient(linear, left top, right top, from(#074d88), to(#61b3c9));
  background: linear-gradient(90deg, #074d88 0%, #61b3c9 100%);
}
.menu .btnLink button span {
  _background-color: transparent;
  height: 0;
  margin-top: -10px;
}
.menu .btnLink button:hover {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu .btnLink button:hover span {
  margin-right: -10px;
}
.menu .iconsLink {
  margin-top: 100px;
}
.menu .iconsLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.menu .iconsLink li {
  width: 35px;
  height: 35px;
  background-color: #fff;
  margin: 0 10px;
  padding: 2px;
  border-radius: 10px;
}
.menu .iconsLink li img {
  width: 25px;
  height: 25px;
  margin-top: 3px;
  margin-left: 3px;
}
.menu .iconsLink li img:hover {
  _background-color: rgba(255, 255, 255, 0.5);
  width: 29px;
  height: 29px;
  margin-top: 1px;
  margin-left: 1px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  _border: 2px solid #61b3c9;
}

footer {
  width: 100%;
  _height: 100vh;
  background: #17181C;
  color: #c5c2c2;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
footer .up-content {
  width: 70%;
  height: auto;
  border-bottom: 1px solid #777575;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 960px) {
  footer .up-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .up-content .upBox {
  _border: 1px solid #fff;
  width: 25%;
  _height: 300px;
}
@media (max-width: 960px) {
  footer .up-content .upBox {
    width: 100%;
  }
}
footer .up-content .upBox h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
  padding: 15px;
}
@media (max-width: 960px) {
  footer .up-content .upBox h4 {
    margin-bottom: 10px;
  }
}
footer .up-content .upBox p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px;
}
@media (max-width: 960px) {
  footer .up-content .upBox p {
    border-bottom: 1px solid #777575;
  }
}
footer .up-content .upBox .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 20px;
}
footer .up-content .upBox .contact-block img {
  width: 20px;
}
footer .up-content .upBox .contact-block .text-block {
  margin-left: 10px;
}
footer .down-content {
  width: 70%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}
@media (max-width: 450px) {
  footer .down-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .down-content .leftText h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
}
footer .down-content .rightIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .down-content .rightIcons img {
  width: 30px;
}
footer .down-content .rightIcons .iconsLink {
  _margin-top: 100px;
}
@media (max-width: 450px) {
  footer .down-content .rightIcons .iconsLink {
    margin-top: -70px;
  }
}
footer .down-content .rightIcons .iconsLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
footer .down-content .rightIcons .iconsLink li {
  width: 25px;
  height: 25px;
  background-color: #fff;
  margin: 0 5px;
  padding: 2px;
  border-radius: 5px;
}
footer .down-content .rightIcons .iconsLink li img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-left: 3px;
}
footer .down-content .rightIcons .iconsLink li img:hover {
  _background-color: rgba(255, 255, 255, 0.5);
  width: 19px;
  height: 19px;
  margin-top: 1px;
  margin-left: 1px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  _border: 2px solid #61b3c9;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  _min-width: 900px;
}

/* @media all{
    width: 100%;
} */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.content button, #row2 .row2Left .btnLink button {
  margin-top: 50px;
  width: 230px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 13px;
  text-align: center;
}

#row1 .rowRight .textLeft h2, #row2 .row2Left h2, #row3 h2, #row4 .row4Content h2, #row5 .row5Left h2, #row5 .row5Right h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1300px) {
  #row1 .rowRight .textLeft h2, #row2 .row2Left h2, #row3 h2, #row4 .row4Content h2, #row5 .row5Left h2, #row5 .row5Right h2 {
    font-size: 35px;
  }
}
@media (max-width: 960px) {
  #row1 .rowRight .textLeft h2, #row2 .row2Left h2, #row3 h2, #row4 .row4Content h2, #row5 .row5Left h2, #row5 .row5Right h2 {
    font-size: 28px;
    font-weight: 600;
  }
}
@media (max-width: 720px) {
  #row1 .rowRight .textLeft h2, #row2 .row2Left h2, #row3 h2, #row4 .row4Content h2, #row5 .row5Left h2, #row5 .row5Right h2 {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  #row1 .rowRight .textLeft h2, #row2 .row2Left h2, #row3 h2, #row4 .row4Content h2, #row5 .row5Left h2, #row5 .row5Right h2 {
    font-size: 18px;
  }
}

#row1 .arrowUp, #row2 .arrowUp, #row3 .arrowUp, #row4 .arrowUp, #row5 .arrowUp {
  position: absolute;
  bottom: 40px;
  right: 5%;
}

section {
  position: relative;
  min-width: 390px;
}

.main {
  width: 100%;
  height: 100vh;
  background: url(./../img/bg.jpeg) no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  _border: 1px solid #aad1f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
  position: relative;
}
@media (max-width: 1300px) {
  .header {
    height: 50px;
    _-ms-flex-pack: distribute;
    _    justify-content: space-around;
    padding: 20px 50px;
  }
}
@media (max-width: 900px) {
  .header {
    height: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 10px;
  }
}
.header .logoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 150px;
}
@media (max-width: 1300px) {
  .header .logoNav {
    margin-left: 110px;
    padding: 0 20px;
  }
}
.header .logoNav img {
  margin: 15px 5px;
}
.header .logoNav .logoTextImg {
  display: block;
  width: 120px;
  height: 25px;
  padding-top: 2px;
}
.header .logoNav .logoImg {
  display: block;
  width: 30px;
  height: 30px;
}
.header .navMenu {
  margin-right: 250px;
  margin-top: 15px;
}

.content {
  width: 90%;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
}
.content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 74px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  .content h1 {
    font-size: 60px;
  }
}
@media (max-width: 900px) {
  .content h1 {
    font-size: 50px;
  }
}
@media (max-width: 720px) {
  .content h1 {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .content h1 {
    font-size: 30px;
  }
}
.content h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
.content button span {
  margin-left: 20px;
}
.content button:hover {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.322);
}
.content button:hover span {
  margin-left: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}